<div class="center jumbotron">
  <div class="text-center">
    <h1>Silly Me</h1>
     <h2>今、この面白い"一瞬"を"ストーリー"を全ての人に届けよう</h2>
    <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    
    <%= link_to 'ログイン', signup_path, class: 'btn btn-lg btn-white:focus btn-white' %>
  </div>
</div>